<head>
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>

<nav>
  <!-- title and icon-->
  <a href="/">
    <img id="icon" src="https://media.discordapp.net/attachments/1174046026684956762/1185402453638782986/quizBUSTERS.png?ex=658f7b10&is=657d0610&hm=c49d96e43a11c7a56199a8b8e9f5b14f2c598ea720cad8cfcad5e41a7cbabaa1&=&format=webp&quality=lossless&width=1146&height=1146">
  </a>
  <a href="/">
    <span id="quizBusters"> quizBusters!</span>
  </a>

  <!-- search bar
  <!-- <div class="search-container">
    <% if (!dashboardPage) { %>
    <textarea name="search" id="navSearch" class="search-input" placeholder="Search..."></textarea>
    <button type="submit" class="search-button">Search</button>
    <% } %>
  </div> -->

  <!-- button for collapse -->

  <!-- button links // need to make these collapsible at some point-->
  <div class="navButtons">
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
    <% if (!dashboardPage) { %>
      <a href="/"><button value="home">Home</button></a>
      <a href="/new-quiz"><button value="newQuiz">New Quiz</button></a>
      <a href="/profile"><button value="me">ME!</button></a>
      <a href="/dashboard" id="loginButton"><button value="login">Logout</button></a>
  <% } else { %>
      <!-- Keep only the "Quizzes Page" link on the dashboard page -->
      <a href="/index"><button value="home">Home</button></a>
      <a href="/index" id="loginButton"><button value="login">Login</button></a>
  <% } %>
  </div>
  </div>
</nav>

