<nav>
  <!-- title and icon-->    
  <img id="icon" src="https://media.discordapp.net/attachments/1174046026684956762/1185402453638782986/quizBUSTERS.png?ex=658f7b10&is=657d0610&hm=c49d96e43a11c7a56199a8b8e9f5b14f2c598ea720cad8cfcad5e41a7cbabaa1&=&format=webp&quality=lossless&width=1146&height=1146">
  <span id="quizBusters"> quizBusters!</span>
  <!-- search bar -->    
  <div class="search-container">
    <textarea name="search" id="navSearch" class="search-input" placeholder="Search..."></textarea>
    <button type="submit" class="search-button">Search</button>
  </div>
  <!-- button links // need to make these collapsible at some point-->    
  <div class="navButtons">
    <button value="myQuizzes">My Quizzes</button>
    <button value="myResults">My Results</button>
    <button value="myFaves">My Faves</button>
    <button value="me">ME!</button>
    <!-- <i class="fa-solid fa-angles-down fa-beat-fade" style="color: whitesmoke;"></i> -->
  </div>
</nav>

<!-- <button id="results-button">My Results</button>
  <script>
    document.getElementById('results-button').addEventListener('click', function() {
      window.location.href = '/results';
    });
  </script> -->