<head>
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>

<nav>
  <!-- title and icon-->    
  <a href="/">
    <img id="icon" src="https://media.discordapp.net/attachments/1174046026684956762/1185402453638782986/quizBUSTERS.png?ex=658f7b10&is=657d0610&hm=c49d96e43a11c7a56199a8b8e9f5b14f2c598ea720cad8cfcad5e41a7cbabaa1&=&format=webp&quality=lossless&width=1146&height=1146">
  </a>
  <a href="/">
    <span id="quizBusters"> quizBusters!</span>
  </a>
  
  <!-- search bar -->    
  <div class="search-container">
    <textarea name="search" id="navSearch" class="search-input" placeholder="Search..."></textarea>
    <button type="submit" class="search-button">Search</button>
  </div>
  <!-- button links // need to make these collapsible at some point-->    
  <div class="navButtons">
    <a href="/new-quiz"><button value="newQuiz">New Quiz</button></a>
    <a href="/quizzes"><button value="myQuizzes">My Quizzes</button></a>
    <a href="/my-results"><button value="myResults">My Results</button></a>
    <a href="/faves"><button value="myFaves">My Faves</button></a>
    <a href="/profile"><button value="me">ME!</button></a>
<!-- if user is not logged in -->
      <!-- <button value="register">register</button> -->
      <!-- <button value="log in">log in</button> -->
<!-- if user is  logged in -->
      <!-- <button value="log out">log out</button> -->
  </div>
</nav>

<!-- <button id="results-button">My Results</button>
  <script>
    document.getElementById('results-button').addEventListener('click', function() {
      window.location.href = '/results';
    });
  </script> -->