<a href="/views/quizzes" class="quiz-link">
<label for="individual-quiz" class="individual-quiz-title"> 
  <%= "dashboard.title: ", dashboard.title %>

</label>
  <br/>
  <label for="individual-quiz" class="individual-quiz-author"> by Jane Doe</label>
  <br/>
  <div class="quiz-content-demo">
    <div class="question">do you prefer rain or sun?</div>
    <fieldset>
      <div class="answer-options">
        <div class="answer-option"><input type="radio" name="rain" value="rain" /> i like rain!</div>
        <div class="answer-option"><input type="radio" name="sun" value="sun" /> i like sun!</div>
        <div class="answer-option"><input type="radio" name="both" value="both" /> i like both!</div>
    </fieldset>
    </div>

    <div class="question">do you prefer books or movies?</div>
    <fieldset>
      <div class="answer-options">
        <div class="answer-option"><input type="radio" name="books" value="books" /> i like books!</div>
        <div class="answer-option"><input type="radio" name="movies" value="movies" /> i like movies!</div>
        <div class="answer-option"><input type="radio" name="both" value="both" /> i like both!</div>
    </fieldset>
  </div>
  <!-- <time class="individual-quiz-time">${ago}</time> -->
  <div class="reactions">
    <div class="reaction"><i class="fa-regular fa-flag"></i></div>
    <div class="reaction"><i class="fa-solid fa-retweet"></i></div>
    <div class="reaction"><i class="fa-regular fa-heart"></i></div>
  </div>
</a>
