<a href="/views/quizzes" class="quiz-link">
<label for="individual-quiz" class="individual-quiz-title">
   <% const title = JSON.stringify(dashboard.quizData.rows[cardCounter].title) %>
   <%=  title %>
  </label>
  <br/>

  <label for="individual-quiz" class="individual-quiz-author">
    <%= (dashboard.authorData.rows[cardCounter].name) %>
  </label>
  <br/>

  <!-- // for loop to make questions  -->
  <% const questions = dashboard.questionsData.rows %>
  
  <% for (question of questions) { %>
    <% if (question.quiz_id === cardCounter) { %>
      <% console.log("question: ", question) %>
      <div class="quiz-card-container">
        <div class="quiz-content">
          <div class="question"> 
            
          </div>
      
          <fieldset>
            <div class="answer-options">
              <div class="answer-option">
                <input type="radio" name="rain" value="rain" /> i like rain!
              </div>
      
              <div class="answer-option">
                <input type="radio" name="sun" value="sun" /> i like sun!
              </div>
      
              <div class="answer-option">
                <input type="radio" name="both" value="both" /> i like both!
              </div>
      
          </fieldset>
          </div>
      
        </div>
        <div class="reactions">
          <div class="reaction"><i class="fa-regular fa-flag"></i></div>
          <div class="reaction"><i class="fa-solid fa-retweet"></i></div>
          <div class="reaction"><i class="fa-regular fa-heart"></i></div>
        </div>
      </div>
      <% } %>
  <% } %>


</a>
