<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head', { pageTitle: 'Dashboard' }) %>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/scripts/dashboard.js"></script>

</head>

<body class="dashboard-page">
  <% const dashboardPage=true; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>

  <section id="page-content">
    <main class="container">
      <h2>Checkout These Quizzes by Our Users! </h2>
      <% let cardCounter = 0 %>
      
      <% for (quiz of dashboard.quizData.rows) { %>
        <div class="quiz-card <%= dashboard.quizData.rows[cardCounter].id %>" >
          <%- include('./partials/_quiz-card.ejs', {cardCounter}) %>
          <% cardCounter++ %>
        </div>
        <% } %>
    </main>
  </section>
</body>

