<!DOCTYPE html>
<html lang="en">

<head>
   <!-- head -->
  <%- include('partials/_head', { pageTitle: 'Home' }) %>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>

  <!-- Include your index.js file -->
  <script src="/index"></script>

</head>

<body>
  <!-- Top nav bar moved to partial (fixed) -->
  <% const dashboardPage = false; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>
  <!-- Page-specific (main) content here -->
  <section id="page-content">
    <%- include('partials/_header') %>
    <main class="container">

   

      
    </main>
  </section>

</body>

</html>
