<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head', { pageTitle: 'Home' }) %>
</head>

<body>
  <!-- Top nav bar moved to partial (fixed) -->
  <%- include('partials/_nav') %>
  <!-- Page-specific (main) content here -->
  <section id="page-content">
    <%- include('partials/_header') %>
    <main class="container">

      <form id="login" action="/login/123" method="GET">
        <!-- <input type="hidden" name="id" value="123"> -->
        <button type="submit">Login</button>
      </form>

      <%- include('partials/_dashboard-content') %>
    </main>
  </section>
</body>


</html>
<!-- <div id="error-printer"></div> // error rolldown will insert here -->
