<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_head', { pageTitle: 'Login' }) %>
</head>

<body>
  <% const dashboardPage = false; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>
  <section id="page-content">
    <%- include('partials/_header') %>
    <main class="container">
      <form id="login" action="/login" method="POST">
        <input type="text" name="id" placeholder="Enter your ID" required>
        <button type="submit">Login</button>
      </form>
    </main>
  </section>
</body>

</html>
