<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/results.css" type="text/css">
  <title>My Results</title>
  <%- include('partials/_head') %>
</head>
<body>
  <!-- including the nav bar  -->
  <%- include('partials/_nav') %>
  <main class="container">
    <h2>hello user</h2>
    <h4>here are ur results</h4>
  </main>
</body>
</html>
