<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/results.css" type="text/css">
  <%- include('partials/_head', { pageTitle: 'My Result' }) %>
</head>
<body>
  <!-- including the nav bar  -->
  <% const dashboardPage = false; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>
  <%- include('partials/_header') %>
  <main class="container">
    <h2>hello user</h2>
    <h4>here are ur results</h4>
  </main>
</body>
</html>
