<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jquery plug -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="scripts/new-quiz.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css">
  <link rel="stylesheet" href="/styles/new-quiz.css" type="text/css">

  <!-- basic head -->
  <%- include('partials/_head', { pageTitle: 'New Quiz' }) %>


</head>

<body>
  <div id="new-quiz-container"></div>

  <!-- including the nav bar  -->
  <% const dashboardPage = false; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>
  <form method="POST">
    <header>
      <div class="new-quiz-info">

        <!-- title -->
        <label for="new-title">Title:</label><br>
        <input type="text" id="new-title" name="new-title" value="My Quiz"><br>
        <h1 id="quiz-title">My Quiz</h1>

        <!-- author -->
        <label for="new-author">What's your Pseudonym?</label><br>
        <input type="text" id="new-author" name="new-author" value="Jane Doe"><br>
        <h4 id="quiz-author">Jane Doe</h4>

      <div class="privacy-container">
        <label for="privacy">Check this box to make your quiz private:</label><br>
        <input type="checkbox" id="privacy" name="privacy" value="true"><br>
        <p>(Private quizzes will not show up on the public dashboard, but anyone with the link can find it.)</p>
      </div>
      </div>

    </header>

    <main class="new-quiz-container">

      <section class="new-quiz-questions"></section> <!--questions populate in here-->

      <button class="add-question-btn">Add a Question</button>

    </main>
    <input id="submitButton" type="button" value="Submit"> <!--need to post to submit all added content to correct tables-->
  </form>
</body>

</html>
