<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/profile.css" type="text/css">
  <%- include('partials/_head', { pageTitle: 'My Profile' }) %>
</head>
<body>
  <!-- including the nav bar  -->
  <%- include('partials/_nav') %>
  <%- include('partials/_header') %>
  <main class="container">
    <h2>hello user</h2>
    <h4>here is ur profile</h4>
  </main>
</body>
</html>
