///////////////////////////////////////////////////////////////////////////////////////////////////
////                     DASHBOARD                            ////
///////////////////////////////////////////////////////////////////////////////////////////////////

.dashboard-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.quiz-card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.quiz-card {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border: 1px solid black;
  background-color: #567dab;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.quiz-card:hover {
  background-color:#6e92b1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.individual-quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.individual-quiz-author {
  font-size: 16px;
  color: #231515;
  margin-bottom: 10px;
}

.question {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer-options {
font-size: 16px;
margin-bottom: 5px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 10px;
font-size: 16px;
}

.reactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 5px;
}

.reactions:hover {
  box-shadow: 0 0 10px rgb(7, 58, 100, 0.5);
  background-color: #567dab;
}

.reactions .fa-flag:hover,
.reactions .fa-heart:hover {
  color: #f28f3b;
}


///////////////////////////////////////////////////////////////////////////////////////////////////
////                     INDIVIDUAL QUIZ                           ////
///////////////////////////////////////////////////////////////////////////////////////////////////

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quiz-card-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-content {
  margin-bottom: 20px;
}

#submitQuiz {
  padding: 10px;
  height: 100px;
  background-color: #588B8B;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 400px;
}

#submitQuiz:hover {
  background-color: #406666;
}


///////////////////////////////////////////////////////////////////////////////////////////////////
////                     DEVICE SIZES                           ////
///////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 768px) {
  .quiz-card {
    flex: 0 0 calc(50% - 20px);
  }

  .quiz-card-container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .quiz-card {
    flex: 0 0 calc(100% - 20px);
  }
}
