///////////////////////////////////////////////////////////////////////////////////////////////////
////                     DASHBOARD                            ////
///////////////////////////////////////////////////////////////////////////////////////////////////

.quiz-card-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.quiz-card {
  margin: 10px;
  text-decoration: none;
  position: relative;
  color: inherit;
  min-height: 550px;
  padding: 30px;
  border: 2px solid #324a67;
  background-color: #567dab;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-card:hover {
  background-color:#6e92b1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.individual-quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.individual-quiz-author {
  font-size: 16px;
  color: #231515;
  margin-bottom: 10px;
}

.question {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer-options {
font-size: 16px;
margin-bottom: 5px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 10px;
font-size: 16px;
}

.reactions {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.reactions:hover {
  box-shadow: 0 0 10px rgb(7, 58, 100, 0.5);
  background-color: #567dab;
  border-radius: 10px;;
}

.reactions .fa-flag:hover,
.reactions .fa-heart:hover {
  color: #f28f3b;
}

#page-content {
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-top: 100px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
////                     DEVICE SIZES                           ////
///////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 850px) {
  .quiz-card {
    flex: 0 0 calc(50% - 20px);
  }

  .quiz-card-layout {
    grid-template-columns: auto;
  }
  #page-content {
    padding-top: 90px;
  }
  .quiz-card-container {
    width: 100%;
  }
}

// @media only screen and (max-width: 480px) {
//   .quiz-card {
//     // flex: 0 0 calc(70% - 20px);
//   }
// }

// @media only screen and (min-width: 851px) and (max-width: 1025px) {

// }

