///////////////////////////////////////////////////////////////////////////////////////////////////
////                     INDIVIDUAL QUIZ                           ////
///////////////////////////////////////////////////////////////////////////////////////////////////

.container {
  max-width: 500px;
  padding: 20px 10px;
}

h1 {
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h3 {
  color: black;
}

.quiz-card-container {
  max-height: 500px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #7399ba;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-content {
  margin-bottom: 20px;
}

.answer-option {
  margin: 10px;
}

#submitQuiz {
  margin: 80px;
  padding: 20px;
  height: 100px;
  background-color: #6a8dac;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitQuiz:hover {
  background-color: #57748e;
}

#score{
  display:none;
  background-color: #6a8dac;
  color: #ccc;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  height: 100px;
  background-color: #6a8dac;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#correctAnswers{
  display:none;
  background-color: #6a8dac;
  color: #ccc;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  height: auto;
  background-color: #6a8dac;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#questionCounter{
  display: none;
}


#submitButton {
  height: 50px;
  width: 100px;
  margin: 30px;
  border-radius: 5px;
  background-color: #6a8dac;
  color: #ccc;
}

#deleteButton {
  height: 50px;
  width: 100px;
  margin: 30px;
  border-radius: 5px;
  background-color: #ac706a;
  color: #ccc;
}

#page-content {
  padding-top: 70px;
}

/* mobile styles */
@media only screen and (max-width: 850px) {
  .container {
    padding: 1em;
  }
  #page-content {
    padding-top: 70px;
  }
}

#score{
  display:none;
  background-color: #6a8dac;
  color: #ccc;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  height: 100px;
  background-color: #6a8dac;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#correctAnswers{
  display:none;
  background-color: #6a8dac;
  color: #ccc;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  height: 100px;
  background-color: #6a8dac;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#questionCounter{
  display: none;
}
