///////////////////////////////////////////////////////////////////////////////////////////////////
////                     INDIVIDUAL QUIZ                           ////
///////////////////////////////////////////////////////////////////////////////////////////////////

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quiz-card-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-content {
  margin-bottom: 20px;
}

#submitQuiz {
  margin: 10px;
  padding: 10px;
  height: 100px;
  background-color: #588B8B;
  color:#231515;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 400px;
}

#submitQuiz:hover {
  background-color: #406666;
}
