nav {
  height: 120px;
  position: fixed;
  width: 100%;
  padding: 1.5em;
  border-bottom: #19005e8d;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f28f3b;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  display: flex;
  justify-content: space-between;
}

#tweeter-title {
  font-family: 'Monofett', monospace;
}

.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quizBusters {
  font-family: 'Monofett', monospace;
  font-size: 40px;
  color: #FFD5C2;
  background-color: black;
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
}
