/*
 * cookie
  quiz box
  */

  // QUIZ TITLE
  .new-quiz-info {
    color: #588B8B;
    margin-left: 30px;
    h1 {
      margin-bottom: 5px;
    }
    h4 {
      margin-top: 5px;
      margin-left: 5px;
    }
  }

/////////////////////////////////////////////////////////////////////
// TEMPERARY until we load more quizes
 .new-quiz-questions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 20px;
  width: 90%;
  background-color: #C8553D;
}
/////////////////////////////////////////////////////////////////////


/* Style spans for dynamic values */
#userScore,
#totalCorrect,
#totalQuestions {
  font-weight: bold;
  color: #007bff;
}

.warning {
  color: rgb(131, 0, 0);
}

/*
 * error printer rolldown
 */

#error-printer {
  display: none;
  margin: 5px -40px;
  border: 2px dashed whitesmoke;
  padding-left: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  background-color: rgb(126, 62, 62);
  color: whitesmoke;
}


.new-quiz-container {
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.new-quiz-info {
  margin-top: 0px;
  padding-top: 150px;
}

